:root {
  /* Colors to be updated */

  /* Font */
  --text-font: 'Gowun Batang', serif;
  --color-background: hsl(0, 0%, 94%);
  --color-highlight: hsl(11,95%,55%);
  --color-textcolor: hsl(138, 12%, 21%);
  --color-secondary: hsl(48, 29%, 83%);


}

/* 공통영역 */
html {
    font-size: clamp(16px, 2vw, 22px);
}

body {
    background: var(--color-background);
    font-family: var(--text-font);
    line-height: 2.0;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-textcolor)
}

h1 {
    font-size: 2.027rem;
    line-height: 1.4;
}
h2 {
    font-size: 1.802rem;
    line-height: 1.4;
}

h3 {
    font-size: 1.602rem;
    line-height: 1.4;
    padding: 3rem 0 0 0;
}

::selection {
    color: white;
    background: var(--color-highlight);
}

a {
    color: var(--color-textcolor);
    text-decoration: none;
}

a:visited {
    color: var(--color-textcolor);

}

a:hover {
    color: var(--color-textcolor);
    text-decoration: underline;
    text-decoration-color: var(--color-highlight);
    text-decoration-skip-ink: none;
    text-decoration-thickness: .5em;
    text-underline-offset: -.25em;
}


.container {
    width: 46.7vw;
    padding: 5.6vw 0 0 0;

}

.mainnav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    line-height: 1.4;
}

.mainnav ul {
    list-style: none;
    padding: 0;

}


.submenu {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

hr {
    border: none;
    border-top: .1em dashed var(--color-secondary);
}


.main-footer {
    padding: 5vw 0 5vw 0;

}