.bloglist {
    list-style: none;
    padding: 80px 0 0 0;
}


.bloglist li {
    padding-bottom: 1.78rem;
}


.bloglist a:visited {
    color: var(--color-black)
}

.blog-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
    position: relative;
}

.blog-item a {
    display: flex;
    align-items: baseline;
    flex: 1;
}

.blog-item a::after {
    content: "";
    flex: 1;
    border-bottom: 1px dotted var(--color-textcolor);
    margin: 0 8px;
}

.blog-item a p {
    margin: 0;
}

