.home-intro {
    padding: 80px 0 80px 0;
}

.home-bloglist {
    list-style: none;
    padding: 80px 0 80px 0;
}



.home-bloglist li {
    padding-bottom: 1.78rem;
}


.home-bloglist a:visited {
    color: var(--color-black)
}

.home-blog-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
    position: relative;
}

.home-blog-item a {
    display: flex;
    align-items: baseline;
    flex: 1;
}

.home-blog-item a::after {
    content: "";
    flex: 1;
    border-bottom: 1px dotted var(--color-textcolor);
    margin: 0 8px;
}

.home-blog-item a p {
    margin: 0;
}


.home-projectlist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 3rem;
    list-style: none;
    padding: 80px 0 80px 0;
}


.home-projectlist figure {
    padding: 0;
    margin: 0;
}

.home-projectlist li {
    list-style: none;
}


.home-projectlist img {
    width: 100%;
}

